@keyframes defile {
from {background-position: 0px -80px;}
to {background-position: 1920px -80px;}
}

h1
{
	text-decoration: underline;
	text-align: center;
	color: white;
}

#noms
{
	text-align: right;
	color: white;
	margin-top: 0;
	position: absolute;
	top: 5px;
	right: 5px;
}

#en_tête
{
	background: url("../Images/entete.jpg") center;
	height:125px;
	padding-top: 50px;
	animation: defile 10s infinite linear;
}

html
{
	height: 100%;
	position: relative;

}

body
{
	margin: 0;
	height: 100%;
}

.orga_nav
{
	display: flex;
	justify-content: center;
}

.Boutons_nav
{
	width: 200px;
	height : 50px;
	text-align: center;
	line-height: 50px;
	transition: background 0.5s, border-radius 0.5s, box-shadow 0.5s;
	font-size: 1.2em;
}

.ext:hover
{
    background: #ffffff;
	box-shadow: inset 0px 0px 21px 0px rgba(0,0,0,0.75);
	border-radius: 5px;
}

a
{
	
	text-decoration: none;
	color: black;
}

.clef_de_sol
{
	width: 150px;
	height: 200px;
	margin-left: 80px;
}
nav
{
	display: flex;
	justify-content: space-between;
}
.div_bouton
{
	height: 100px;
	background: #d5d5d5;
	box-shadow: 0px 3px 7px black;
}

.en_cours
{
	background: #ffffff;
	border-radius: 5px;
	box-shadow: inset 3px 3px 3px 0px rgba(0,0,0,0.75);
	font-weight: bold;
}

body
{
	background: url("../Images/image_de_fond.jpg");
}

@font-face
{
	font-family: 'Sanford';
	src: url('../Polices/Sanford/Sanford-0103_demo.ttf');
	src: url('../Polices/Sanford/Sanford-0103_demo.woff');
}

*
{
	font-family: 'Sanford';
}

footer
{
	background: url("../Images/Fond_footer.jpg");
	margin-bottom: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-bottom: 25px;
	margin-top: 35px;
	width: 100%;

}

#margin_bas
{
	margin-bottom: 0;
}

#play
{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 0 10px 17.3px;
	border-color: transparent transparent transparent #ffffff;
}

#pause
{
	width: 5px;
	height: 17.3px;
	position: relative;
}

#pause::before
{
	position: absolute;
	display: block;
	background-color: white;
	width: 5px;
	height: 17.3px;
	left: -5px;
	top: -1px;
	content: "";
}

#pause::after
{
	position: absolute;
	display: block;
	background-color: white;
	width: 5px;
	height: 17.3px;
	left: 5px;
	top: -1px;
	content: "";
}


#musique
{
	margin: 20px;
	background-color: black;
	border-radius: 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 200px;
	height: 30px;
}

#musique a
{
	color: white;
}

#musique:hover
{
	cursor: pointer;
}

#wrapper
{
	width: 100%;
	min-height: 100%;
}
