#noms
{
	font-size: 0.75em;
	text-align: right;
	color: white;
	margin-top: 0;
}

h1
{
	text-decoration: underline;
	text-align: center;
	color: white;
}

#en_tête
{
	background: url("../Images/entete.jpg");
	height:250px;
}

body
{
	margin: 0;
}

.orga_nav
{
	display: flex;
	justify-content: center;
}

.Boutons_nav
{
	width: 200px;
	height : 50px;
	background-color: blue;
	text-align: center;
	line-height: 50px;
}

.Boutons_nav:hover
{
	background-color: red;
	transition-duration: 0.5s;
}

a
{
	
	text-decoration: none;
	color: black;
}