body
{
	background: url("../Images/image_de_fond.jpg");
	padding-bottom: 20px;
}

p
{
	font-size: 1.1em
}

@font-face
{
	font-family: 'Sanford';
	src: url('../Polices/Sanford/Sanford-0103_demo.ttf');
	src: url('../Polices/Sanford/Sanford-0103_demo.woff');
}

*
{
	font-family: 'Sanford';
}

ol
{
	font-size: 1.2em
}

article
{
	margin-left: 20px
}

#organisation_image
{
	display: flex;
	justify-content: space-between;
}

#margin_image
{
	margin-right: 125px;
	width:220px;
	height: 120px;
}

#play
{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 0 10px 17.3px;
	border-color: transparent transparent transparent #ffffff;
}

#pause
{
	width: 5px;
	height: 17.3px;
	position: relative;
}

#pause::before
{
	position: absolute;
	display: block;
	background-color: white;
	width: 5px;
	height: 17.3px;
	left: -5px;
	top: -1px;
	content: "";
}

#pause::after
{
	position: absolute;
	display: block;
	background-color: white;
	width: 5px;
	height: 17.3px;
	left: 5px;
	top: -1px;
	content: "";
}


#musique
{
	margin: 20px;
	background-color: black;
	border-radius: 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 200px;
	height: 30px;
}

#musique a
{
	color: white;
}

#musique:hover
{
	cursor: pointer;
}