body
{
	background: url("../Images/image_de_fond.jpg");
	padding-bottom: 20px;
}

p
{
	font-size: 1.1em;
	margin-bottom: 0;
}

@font-face
{
	font-family: 'Sanford';
	src: url('../Polices/Sanford/Sanford-0103_demo.ttf');
	src: url('../Polices/Sanford/Sanford-0103_demo.woff');
}

ol
{
	font-size: 1.2em
}

article
{
	margin-left: 20px
}

#organisation_image
{
	display: flex;
	justify-content: space-between;
}

#margin_image
{
	margin-right: 125px;
	width:220px;
	height: 120px;
}