.lien_bleu
{
	color: blue;
	text-decoration: underline;
}

#Img_Musico
{
	width: 130px;
	height: 150px;
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#Img_INRS
{
	width:190px;
	height:150px;
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.Carte_remerciement
{
	display: flex;
	border: 2.5px solid blue;
}

#Positionnement_carte
{
	display: flex;
	justify-content: center;
}
.Vidéo
{
	display: flex;
	justify-content: center;
}
h2
{
	display: flex;
	justify-content: center;
}

p
{
	margin-left: 15px;
	font-size: 17px;
}